.MainContainer{
    position:relative;
    width: 520px;
    height: 620px;
    margin-left: 1400px;
    background: rgb(255, 255, 255);
    padding: 40px;
    margin-top: 150px;
    border-radius: 10px;
    display:inline-flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1.6px, rgb(209, 213, 219) 0px 0px 0px 1.6px inset;
} 

.imagenLogo{
    
    height: 110px;
    margin-left: 120px;
    margin-top: 25px;

    
}


#Text1{

    left: 80px;
    top: 490px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(200, 198, 198);
}


#Text2{

    left: 230px;
    top: 560px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(33, 46, 145);
}

#Text3{

    left: 200px;
    top: 630px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(175, 175, 175);
}

.logoFacebook{

    position: absolute;
    left: 160px;
    height: 40px;
    margin-top: 530px;
   

}

.container2{
    position:relative;
    width: 525px;
    min-height: 30px;
    margin-left: 1400px;
    background: rgb(255, 255, 255);
    padding: 40px;
    top: 20px;
    border-radius: 10px;
    display:inline-flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1.6px, rgb(209, 213, 219) 0px 0px 0px 1.6px inset;
} 



.text1{
    margin-left: 80px;
    top: 740px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(175, 175, 175);

}

.text2{
    margin-left: 40px;
    top: 740px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(59, 130, 237);

}

.container3{
    position:relative;
    width: 560px;
    min-height: 30px;
    margin-left: 1400px;
    padding: 40px;
    top: 35px;
    border-radius: 10px;
    display:inline-flex;
 
} 


.iconappstore{

    
    height: 180px;
   margin-top: 20px;
    
}


.iconplaystore{

    
    height: 180px;
    right: 10px;
    margin-top: 20px;
    
}

#text{

    left: 260px;
    top: 20px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: rgb(0, 0, 0);
}

#textinfo{
    left: 600px;
    bottom: 120px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: rgb(213, 213, 213);


}

#textinfo2{
    left: 1160px;
    bottom: 80px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: rgb(213, 213, 213);


}


#textinfo3{
    left: 1260px;
    bottom: 40px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color: rgb(213, 213, 213);


}

.coverImage{

    height: 1200px;
    left: 500px;
    top: 110px;
    position:absolute
    

}


